<% provide(:title,"Create Micropost") %>
<h1>Add Micropost</h1>

<%= render "form",micropost:@micropost,set_up:microposts_path %>

<%= link_to "Back",microposts_path,:class =>"btn btn-danger"%>

<%# <input type="file" id="file-input" accept="image/png, image/jpeg" onchange="preview()" multiple> %>

